.Contact-main{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
    overflow-y: scroll;
}

.Contact-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}


.Contact-image-container{
    width: 100vw;
    height: 66vw;
    /* height: 500px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../images/soloPerforming.jpg');
    box-sizing: border-box;
    box-shadow: inset 0 0 30px 15px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: flex-end;
}

.Contact-text{
    width: 93%;
}

.Contact-links{
    padding-left: 10px;
    border-left: 3px solid white;
    margin-top: 15px;
}

.social-link-logo{
    margin-top: 10px;
    margin-right: 25px;

}

.mentions-image{
    width: 350px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.mentions-date{
    font-weight: 500;
    margin-top: 10px;
}