.Navbar-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Canva */
    /* margin-top: 60px; */
}

.Navbar-container{
    position: fixed;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    z-index: 10;
}

.topbarScroll{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 20px;
    width: 100vw;
}

.nav-text{
    margin-left: 5%;
    width: 230px;
    
}


.jonah-wisneski-title{
    text-decoration: none;
}

.mobile-menu-container{
    background-color: rgba(2, 82, 131, 0.5);
    width: 100vw;
    height: 100%;
    position: fixed;
    bottom: calc(100% - 120px);
    left: 0;
    transition: 500ms ease;
    z-index: 2;
    display: grid;
    grid-template-rows: 0 1fr 160px;
    /* Canva */
    /* bottom: calc(100% - 180px); */
}

.mobile-menu-container.open{
    bottom: 0;
    background-color: #8c867bf4;
    transition: 750ms ease;
    grid-template-rows: 200px 1fr 160px;
    /*  */
}

.mobile-menu-items{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}


.mobile-menu-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    text-decoration: none;
    /* Canva */
    /* margin-top: 60px; */
}

.mobile-menu-text{
    text-decoration: none;
    padding: 2px 5px;
}

.mobile-icon-container{
    margin-right: 5%;
    width: 50px;
    height: 50px;
}

.mobile-icon{
    z-index: 4;
    position: absolute;
    opacity: 1;
    transition: 500ms ease;
    transition-delay: 100ms;
}

.mobile-icon:hover{
    cursor: pointer;
}

.hide{
    opacity: 0;
    transition: 100ms ease;
}

.whitespace{
    height: 120px;
    width: 100%;
}

.other-worlds-link{
    margin-bottom: -5px;
}



@media screen and (min-width: 700px){
    .Navbar-main{
        height: 100px;
    }
    
    .nav-text{
        position: fixed;
        top:0;
        left: 0;
        margin-top: 20px;
        margin-left: 20px;
        width: 150px;
    }
    .jonah-wisneski-title h1{
        font-size: x-large;
    }
    .mobile-icon-container{
        display: none;
    }
    
    .mobile-menu-container{
        background-color: rgba(2, 82, 131, 0.5);
        width: calc(100% - 170px);
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 170px;
        transition: none;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }
    
    .mobile-menu-container.open{
        bottom: 0;
        transition: none;
        background-color: rgba(2, 82, 131, 0.5);
    }
    
    .mobile-menu-container .whitespace{
        display: none;
    }
    
    .mobile-menu-items{
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .mobile-menu-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        width: 100%;
        text-decoration: none;
    }

    .mobile-menu-text:hover{
        opacity: .5;
    }

    .mobile-menu-text h2{
        font-size: medium;
    }

    .mobile-menu-item{
        width: auto;
        height: 30px;
        border-radius: 5px;
        align-self: center;
    }

    .selected{
        background-color: white;
        color: black;
        height: auto;
    }
}